<!DOCTYPE html>
<html>
  <head>
    <title>Harp Boilerplate</title>

    <link rel="stylesheet" type="text/css" href="/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <%- yield %>
  </body>
</html>
